@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li><a href="/api/comments/this/is/a/test/url">/api/comments/this/is/a/test/url</a></li>
        <li><a href="/name">/name</a></li>
        <li><a href="/2000/12/31/name">/2000/12/31/name</a></li>
    </ul>
</div>
